{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}
           hyperlith/hyperlith {:git/url "https://github.com/andersmurphy/hyperlith.git"
                                :git/sha "6e8341ad44a62907090c1e2953bb20da2b20da68"}}
 :aliases {:build {:deps       {io.github.clojure/tools.build
                                {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
                   :ns-default build}}}
